a, a:visited {
    color: blue !important;
}

.hamburger {
    opacity: .3;
}

.profiles .hamburger {
    opacity: .1;
}

.hide {
    display: none;
}

li {
    list-style: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
svg text::selection {
    background: none;
}

.ignore * {
    opacity: .2;
}

.selected polygon {
    stroke: #000;
    stroke-width: 2px;
}

.highlight {
    opacity: 1;
    fill: #f00;
}

.highlight polygon {
    fill: #eee;
}
.highlight.edge polygon {
    fill: #000;
}

.ignore polygon {
    fill: #fff;
}

.edge polygon, .edge path {
    //stroke: #ccc;
    //display: none;
}

.help {
    position: fixed;
    bottom: 10px;
    left: 10px;
    height: 100px;
    width: 300px;
    font-size: 10pt;
    color: #666;
}

body {
    font-family: "Open Sans", sans-serif;
}

.hover {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 200px;
    width: 400px;
    border: solid 1px #ccc;
    background: rgba(255, 255, 255, .8);
    padding: 1em;
    display: none;
}


